{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Shop | Cart</title>
</head>
<body>
  <div class="container">
    <div class="row">
      {% for cart_itm in cart_list %}
      <div class="col-md-4 col-sm-12 col-lg-3 m-1">
              <div class="card" style='width:100%; height:300px;'>
                      <div class="card-body">
                        <h5 class="card-title"> {{ cart_itm.item }}</h5>
                        <p class="card-price">{{ cart_itm.item.price }}</p>
                        <p class="card-text">{{ cart_itm.created }}</p>
                        <p class="card-itm">{{ cart_itm.quantity }}</p>
                      </div>
                  <div class='card-footer text-center'>
                      <a href="order" class="btn btn-danger">Checkout</a>
                  </div>
               </div>
        </div>
      {% endfor %}
  </div>
  </div>
</body>
</html>