{% load static %}
{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}
{% load material_form %}
<!DOCTYPE html>
<html lang="Ru">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "material/css/materialize.css" %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">
</head>
<body>
<div id="header">
    <span class="logo">Shop</span>
    {% if request.user.is_authenticated %}
        <ul class="menu">
            <li {% if section == "profile" %}class="selected"{% endif %}>
            <a href="{% url "index" %}">Home</a>
            </li>
            <li {% if section == "register" %}class="selected"{% endif %}>
            <a href="{% url "signup" %}">Sign Up</a>
            </li>
            <li {% if section == "dashboard" %}class="selected"{% endif %}>
            <a href="{% url "profile" %}">My dashboard</a>
            </li>
            <li {% if section == "orders" %}class="selected"{% endif %}>
            <a href="{% url "order" %}">Orders</a>
            </li>
            <li {% if section == "carts" %}class="selected"{% endif %}>
                <a href="{% url "cart_all" %}">Carts</a>
            </li>
            <li {% if section == "shop" %}class="selected"{% endif %}>
                <a href="{% url "home" %}">Shop</a>
            </li>
        </ul>
    {% endif %}
    <span class="user">
        {% if request.user.is_authenticated %}
            Hello {{ request.user.first_name }},
            <a href="{% url "logout" %}">Logout</a>
        {% else %}
            <a href="{% url "login" %}">Log-in</a>
        {% endif %}
    </span>
</div>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>