{% extends "home.html" %}
{% block title %}Log-in{% endblock %}
{% block content %}
    <div class="counter-value">
    <h1>Log-in</h1><br/>
    <h1></h1>
    {% if form.errors %}
        <h2>
            Your username and password didn't match.
            Please try again.
        </h2>
    {% else %}
        <h2>Please, use the following form to log-in:</h2>
    {% endif %}
    <h1></h1>
    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}"/>
            <p><input type="submit" value="Log-in" class="btn-outline-reg"></p>
        </form>
    </div>
    </div>
{% endblock %}